@import "helpers/mixins";
@import "components/weather-icons";
@import "components/search";
@import "components/cards";
#princiapl {
  height: 70vh;
}
#img {
  //background-image: url("../imgs/Rectangle\ 2.png");
  background-color: rgb(133, 78, 78);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#temps {
  height: 30vh;
}
h1 {
  font-size: 8em;
}
