//#temps {
//  @include border-radius(30px);
//  background-color: aquamarine;
//  width: 100vw;
//  margin-bottom: 1%;
//}
.card_container {
  overflow: auto;
  display: inline-flex;
  width: 100%;
  height: 70%;
}
.temp_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding: 20px;
  @include cover-background;
  @include border-radius(10px);
}
