#princiapl {
  height: 60vh;
}
nav {
  height: 5vh;
  margin-top: 10%;
}
body {
  background-image: linear-gradient(
    rgba(71, 191, 223, 1),
    rgba(74, 145, 255, 1)
  );
  overflow: hidden;
}
#temps {
  height: 35vh;
}
#tiempo {
  @include cover-background;
  padding: 1rem;
}
